div.pesquisa {
    position: relative;
    margin: 0 2px;
    margin-top: 16px;
}

div.conteudo {
    position: relative;
    width: 100%;
    margin-top: 16px;
}

div.conteudo h1 {
    font-size: 24px;
    margin-left: 2px;
}

input.idle {
    color: #ccc;
}

nav.explore {
    margin-top: 16px;
}

nav.explore ul {
    width: 100%;
    list-style: none;
}

nav.explore ul li {
    width: 276px;
    display: inline-block;
    padding: 0;
    text-align: center;
    outline: #000 1px solid;
    margin: 0 2px;
    cursor: pointer;
}

div.series, div.disciplinas, div.recentes {
    width: 836px;
    margin: 0 2px;
    margin-top: 16px;
    padding-top: 25px;
    outline: 1px #000 solid;
}

div.series ul li {
    display: inline-block;
    width: 100px;
    height: 100px;
    outline: 1px #000 solid;
    margin: 0 89px 25px 89px;
    padding: 0;
    padding-top: 38px;
    text-align: center;
    cursor: pointer;
}

div.disciplinas, div.recentes {
    display: none;
}